a {
  color: rgb(176, 173, 173);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  text-decoration: none;
}




/* Container holding the image and the text */
.Moos {
  position: relative;
  text-align: center;

}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;

}


/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer {

  background: #eaeaea;
  width: 100%;
  padding: 100px 0 30px;
  font-size: 13px;
  line-height: 20px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 200px;
  color: gray;

}

.Footer_Content {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;

}

.col {
  flex-basis: 25%;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}


.container {
  width: 800px;
  height: 100px;
  margin: auto;
  position: relative;
  top: 0px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

.inputBox [type=text] {
  width: 800px;
  height: 50px;
  background-color: gray;
  color: white;

}

.Eingabe {
  width: 800px;
  height: 200px;
  position: relative;
  top: 150px;
  margin: auto;
}

.Portfolio {
  width: 800px;
  margin: auto;
  margin-top: 900px;
  font-family: Arial, Helvetica, sans-serif;
}

a:hover {
  color: white;
  text-decoration: underline;
}


.image:hover {
  transform: scale(1.03);
  transition-duration: 800ms;
  opacity: 0.5;
}

.image {
  transition-duration: 800ms;
}

.video:hover {
  transform: scale(1.03);
  transition-duration: 800ms;
}

.video {
  transition-duration: 800ms;
}

.icon {
  opacity: 0.2;
}

.icon:hover {
  opacity: 1;
}

.img-container {
  width: 100%;
}

.img1,
.img2,
.img3 {
  position: absolute;
  width: 100%;
  height: 100%;
}

.img1 {
  animation-name: Moos1;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  background-size: cover;
  background-image: url(./Moos.jpg);
}

@keyframes Moos1 {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.img2 {
  animation-name: Moos2;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  background-size: cover;
  background-image: url(./Moos2.jpg);
}

@keyframes Moos2 {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.img3 {
  animation-name: Pilz;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  background-size: cover;
  background-image: url(./Pilz.jpg);
}

@keyframes Pilz {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}