body {
    background-color: gray;
}

.button1{
    color: white;
    width: 40px;
    height: 300px;
    border-right-color: black;
    margin-left: 200px;
    margin-top: 100px;
}

.button2{
    color: white;
    width: 40px;
    height: 300px;
    border-right-color: black;
    margin-left: -1px;
    margin-top: 100px;
}

.button3{
    color: white;
    width: 40px;
    height: 300px;
    border-right-color: black;
    margin-left: -1px;
    margin-top: 100px;
}

.button4{
    color: white;
    width: 40px;
    height: 300px;
    border-right-color: black;
    margin-left: -1px;
    margin-top: 100px;
}

.button5{
    color: white;
    width: 40px;
    height: 300px;
    border-right-color: black;
    margin-left: -1px;
    margin-top: 100px;
}

.button6{
    color: white;
    width: 40px;
    height: 300px;
    border-right-color: black;
    margin-left: -1px;
    margin-top: 100px;
}

.button7{
    color: white;
    width: 40px;
    height: 300px;
    border-right-color: black;
    margin-left: -1px;
    margin-top: 100px;
}

.button8{
    color: white;
    width: 40px;
    height: 300px;
    border-right-color: black;
    margin-left: -1px;
    margin-top: 100px;
}

.button9{
    color: white;
    width: 40px;
    height: 300px;
    border-right-color: black;
    margin-left: -1px;
    margin-top: 100px;
}

.button10{
    color: white;
    width: 40px;
    height: 300px;
    border-right-color: black;
    margin-left: -1px;
    margin-top: 100px;
}

.button11{
    color: white;
    width: 40px;
    height: 300px;
    border-right-color: black;
    margin-left: -1px;
    margin-top: 100px;
}

.button12{
    color: white;
    width: 40px;
    height: 300px;
    border-right-color: black;
    margin-left: -1px;
    margin-top: 100px;
}

.playbutton {
margin:15%;
margin: 
}